.login{
    display: flex;
    flex-direction: row;
    
    margin : -10px;
    padding: -10px;
    max-height: 100vh;
    max-width: 100vw;
    text-align: center;
   
   
}

.leftSide{
    background-image: url('/welcomePicture.png');
    width: 40%;  
    height: 100vh;
    background-position: center;

}

.rightSide{
    background-color: #161D27;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    padding :80px;
    justify-content:center;
    margin:0;    
}


.registerContainer{
    background-color: black;
}


.btnSignUp{
   background-color: #378FEE;
   border-radius: 30px ;
   border : none;
   width: 200px;
   height: 50px;
   color: white;
   font-weight: bold;
   margin : 20px;
   cursor: grab;
 
   
    transition: background-color 1s;
  }
  
  .btnSignUp:hover {
    background-color: #004369;
  }
  
  .btnSignUp:focus,
  .btnSignUp:active {
    background-color: black;
    transition: none;
  }
      
   


.btnSignIn{
    background-color: #161D27;
    border-radius: 30px ;
    border : 2px solid #414B58;
    width: 200px;
    height: 50px;
    font-weight: bold;
   color: #378FEE;
   margin : 20px;   
   cursor: grab;
   transition: background-color 1s;
 }

 .btnSignIn:hover {
    background-color: #004369;
  }
  
  .btnSignIn:focus,
  .btnSignIn:active {
    background-color: black;
    transition: none;
  }
      


.title{
    color: aliceblue;
    font-size : 80px;
    font-weight: bold;
    margin : 0;

   
   

    
}

.question{
    color: aliceblue;
    font-size : 18px;
    margin:0;
    margin-top: 20px;
}
.subtitle{
    color: aliceblue;
    font-weight: bold;
    font-size : 30px;
    margin:0;
    margin-top : 30px;
    
}

.modal{
  
  
  display: inline-block;
  background-color: transparent;
  border-radius: 30px;
}

.birdLogo{
    margin-bottom: 200px;
    
    cursor: grab;
}