.signIn img {
    width: 10rem;
    margin: auto;
}

.signInContent {
    margin: -30px;
    width: 100%;
}

.signIn h3 {
    text-align: center;
    color: white;
}

.signIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #161D28;
}

.signIn input {
   
    color: lightgrey;
    background-color: #161D28;
    border: lightgrey, solid, 1px;
    width: 10vw;
    margin: 10px auto;
    padding: 5px;
}


.signIn button {
    width: 10vw;
    margin: auto;
    margin: 10px auto;
    padding: 5px;
    border-radius: 50px;
}


.Xmark{
    position : relative;
    margin:0;
    width:100%;
    display: flex;
    justify-content :flex-end;
    color : gray;
    cursor: grab;


}

.signInContent{
    background-color: #161D28;
width:100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}